/* HEADER */

.header-head {
	align-items: center;
	min-height: 80px;
	padding: 10px 0;

	background-color: #3161e0;
}

.logo {
	align-items: center;
}

.header-nav {
	flex-grow: 1;
	line-height: 30px;
}

.header-nav>* {
	flex-basis: 20%;
	padding: 5px 10px;

	/* debug */
	/* background-color: goldenrod; */
	/* border: 2px dashed black; */
}

.header-links {
	flex-grow: 1;
	justify-content: space-between;
	align-items: center;
}

.header-login {
	text-align: right;
}

.header-login > button {
	border-radius: 50px;
	width: 30%;
	padding: 2px 4px;
	border: none;
	background-color: white;
}

/* JUMBOTRON */

.jumbotron {
	padding: 50px 0;
	justify-content: center;

	background-image: url(../img/jumbo.png);
	background-size: 100%;

	/* debug */
	/* background-color: darkblue; */
}

.jumbotron .content {
	min-height: 400px;
	width: 50%;
	text-align: center;
	color: #ffffff;

	/* debug */
	/* background-color: #ee82ee;
	border: 2px dashed black; */
}

.header-title {
	padding: 30px;
	font-size: 50px;
	font-weight: 900;
}

.header-paragraph {
	font-size: 20px;
	padding: 5px 100px 10px;
}

.download-buttons {
	padding: 40px;
}

.download-buttons > button, .ready > button {
	border-radius: 50px;
	font-size: 20px;
	margin: 0 20px;
	padding: 15px 20px;
	border: none;
}

/* MAIN & SECTIONS */

main>section {
	padding: 50px 0;
}

main>section>.container {
	min-height: 557px;

	/* debug */
	/* min-height: 500px; */
}

.main-col {
	flex-grow: 2;

	/* debug */
	/* background-color: cornflowerblue;
	border: 2px dashed black; */
}

.side-col {
	flex-grow: 1;
	padding: 70px;
	align-self: center;

	/* debug */
	/* background-color: pink;
	border: 2px dashed black; */
}

.section-title {
	font-size: 50px;
	font-weight: 900;
}

.side-col > p, .hilighted-content > p {
	font-size: 19px;
	margin-top: 30px;
}

.hilighted-content {
	flex-grow: 1;
	text-align: center;

	/* debug */
	/* min-height: 800px;
	background-color: forestgreen;
	border: 2px dashed black; */
}

.hilighted-content > img {
	height: 728px;
}

.ready > img {
	height: 60px;
}

.ready > h3 {
	margin-top: -20px;
	font-size: 35px;
	font-weight: 900;
}

.ready > button {
	margin-top: 30px;
	background-color: #8ea1e1;
}

/* FOOTER */

.footer-main {
	padding-top: 40px;

	/* debug */
	background-color: #23272a;
}

.footer-upper {
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 2px solid purple;

	/* debug */
	min-height: 500px;
}

.footer-main-col {
	width: calc(100% / 3);
	flex-direction: column;

	/* debug */
	/* background-color: #f08080;
	border: 2px dashed black; */
}

.one > h3 {
	font-size: 35px;
	font-weight: bold;
	padding-right: 50px;
	margin-bottom: 30px;
}

.two > img {
	height: 15px;
	margin: 0 5px 20px 0;
}

#language-picker-select {
	text-decoration: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	font-size: 15px;
	color: currentColor
}

.three {
	font-size: 20px;
}

i {
	margin: 0 10px 0 0;
}

.footer-side-col {
	width: calc(100% / 3 * 2);

	/* debug */
	/* background-color: #20b2aa;
	border: 2px dashed black; */
}

.footer-col {
	width: 25%;
	font-size: 16px;

	/* debug */
	/* background-color: #20b2aa;
	border: 2px dashed white; */
}

.footer-col > * {
	margin-bottom: 10px;
}

.footer-col > h4 {
	font-weight: bold;
}

.footer-bottom {
	justify-content: space-between;
	align-items: center;
	min-height: 80px;

	/* debug */
	background-color: #7fffd4;
}

.footer-bottom>* {
	padding: 5px 10px;


	/* debug */
	background-color: #ffb6c1;
	border: 2px dashed black;
}