/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
	align-items: center;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.d-flex {
	display: flex;
}

.bg-w {
	background-color: #ffffff;
	color: #23272a;
}

.bg-b {
	background-color: #23272a;
	color: #ffffff;
}

.bg-g {
	background-color: lightgray;
}

a {
	text-decoration: none;
	color: white;
	font-family: 'Roboto', sans-serif;
}